.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url('/static/appointments/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image-opacity: 0.5
}