<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <div>
            <img src="Appointment-Tracker/appointments/static/appointments/images/avatar.png" alt="Avatar Picture" width="500" height="600" />
        </div>
        <a href="www.google.ro">Google Link</a>
        <ul>
            <li>Open</li>
            <li>Edit</li>
            <li>Save</li>
            <li>Delete</li>
        </ul>
        <ol>
            <li>This is the house that Jack built.</li>
            <li>This is the malt,</br>
                That lay in the house that Jack built.</li>
            <li>This is the rat,</br>
                That ate the malt,</br>
                That lay in the house that Jack built.</li>
        </ol>
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Wick</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>27</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>