{% extends "appointments/base.html" %}

{% block content %}
        <h2>Appointment list_page</h2>

        <table>
            <thead>
                <tr>
                    <th>appointment id</th>
                    <th>username</th>
                    <th>concerned department</th>
                    <th>appointment description</th>
                    <th>appointment date</th>
                    <th>detail</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for app in appointment_list %}
                    <tr>
                        <td>{{ app.appointment_id }}</td>
                        <td>{{ app.user_id }}</td>
                        <td>{{ app.department_id }}</td>
                        <td>{{ app.appointment_text }}</td>
                        <td>{{ app.appointment_date }}</td>
                        <td><a href="{% url 'appointments:appointment_detail' %}">detail</a> </td>
                        <td><a href="{% url 'appointments:appointment_update' %}">update</a> </td>
                        <td><a href="{% url 'appointments:appointment_delete' %}">delete</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'appointments:appointment_create' %}">Create appointment</a>
{% endblock %}